<div class="row">
    <div class="col-12 col-lg-12 text-center">
        <ul class="pagination text-center">
            <li class="disabled"><a href="#">Previous</a></li>
            <li class="active" id="page_nav"><a href="#">1</a></li>
            <li id="page_nav"><a href="#">2</a></li>
            <li id="page_nav"><a href="#">3</a></li>
            <li id="page_nav"><a href="#">4</a></li>
            <li id="page_nav"><a href="#">5</a></li>
            <li id="page_nav"><a href="#">Next</a></li>
        </ul>
    </div>
</div>