<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page title</title>
        <link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap-theme.css" />

        <style type="text/css">
            .container {
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <p class="col-lg-3 col-md-4 col-sm-6 col-xs-12">Bootstrap</p>
                <p class="col-lg-3 col-md-4 col-sm-6 col-xs-12">Bootstrap</p>
                <p class="col-lg-3 col-md-4 col-sm-6 col-xs-12">Bootstrap</p>
                <p class="col-lg-3 col-md-4 col-sm-6 col-xs-12">Bootstrap</p>
            </div>

        <ul class="pagination">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

<div class="row">
  <div class="col-lg-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/170x180" alt="170x180">
    </a>
    <h4>This is product 1</h4>
    <p>This is the detail description of product 1</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/170x180" alt="170x180">
    </a>
    <h4>This is product 2</h4>
    <p>This is the detail description of product 2</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/170x180" alt="170x180">
    </a>
    <h4>This is product 3</h4>
    <p>This is the detail description of product 3</p>
  </div>
  <div class="col-lg-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/170x180" alt="170x180">
    </a>
    <h4>This is product 4</h4>
    <p>This is the detail description of product 4</p>
  </div>
</div>




<div class="row">
    <div class="col-lg-6">
        <ul class="media-list">

          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
            </a>
            <div class="media-body">
                <h4>This is product 1</h4>
                <p>This is the detail description of product 1</p>
            </div>
          </li>

          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
            </a>
            <div class="media-body">
                <h4>This is product 2</h4>
                <p>This is the detail description of product 2</p>
            </div>
          </li>

          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64" alt="64x64">
            </a>
            <div class="media-body">
                <h4>This is product 3</h4>
                <p>This is the detail description of product 3</p>
            </div>
          </li>
        </ul>        
    </div>
    <div class="col-lg-6">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">32</span>Inbox</li>
          <li class="list-group-item"><span class="badge">12</span>Very Important</li>
          <li class="list-group-item">Already Sent <div class="pull-right"><span class="label label-danger">Already Sent</span></div></li>
          <li class="list-group-item">Draft <div class="pull-right"><span class="label label-warning">Draft</span></div></li>
          <li class="list-group-item"><span class="badge">20</span>Junk Mails</li>
        </ul>
    </div>
</div>


    <div class="row">
        <div class="col-lg-6">
            <form role="form">
              <div class="form-group">
                <label for="username">Your Name</label>
                <input type="email" class="form-control" id="username" placeholder="Name">
              </div>
              <div class="form-group has-error">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="password-confrim">Confrim Password</label>
                <input type="password" class="form-control" id="password-confrim" placeholder="Password">
              </div>              
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me for 2 weeks
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
        <div class="col-lg-6">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Framework</th>
                    <th>Vendor</th>
                    <th>Responsive</th>
                    <th>Less/Sass Support</th>
                    <th>license</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Foundation</td>
                    <td>ZURB</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>MIT</td>
                </tr>
                <tr>
                    <td>Bootstrap</td>
                    <td>Twitter</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>MIT</td>
                </tr> 
                <tr>
                    <td>Semantic-ui</td>
                    <td>Twitter</td>
                    <td>Yes</td>
                    <td>Kind of</td>
                    <td>MIT</td>
                </tr>                
              </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <hr>
    </div>

    <style type="text/css">
        .red{
            color: red;
        }
        .orange {
            color: orange;
        }
        .yellow {
            color: yellow;
        }
        .green {
            color: green;
        }
        .aqua {
            color: aqua;
        }
        .blue {
            color: blue;
        }
        .purple {
            color: purple;
        }
    </style>
    <div class="row">
        <ul>
            <li class="red">Red</li>
            <li class="orange">Orange</li>
            <li class="yellow">Yellow</li>
            <li class="green">Green</li>
            <li class="aqua">Aqua</li>
            <li class="blue">Blue</li>
            <li class="purple">Purple</li>
        </ul>
    </div>
        </div>


        <script src="src/vendor/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="src/vendor/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>
